<ActionBar class="action-bar">
    <Label android:horizontalAlignment="left" class="action-bar-title" text="Empresas"></Label>
</ActionBar>

<GridLayout class="page">
    <GridLayout rows="*,9*" columns="*,auto">
        <SearchBar row="0" col="0" hint="Buscar Empresa"
                    [text]="searchPhrase" 
                    (textChange)="onTextChanged($event)"
                    (submit)="onSubmit($event)" 
                    color="black"
                    textFieldHintColor="gray">
        </SearchBar>
        <button class="fa icon" text="&#xf067;" row="0" col="1" (tap)="add()"></button>

        <ListView *ngIf="mode=='retrive'" row="1" colSpan="2" [items]="companies" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-company="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout rows="auto,auto,auto" columns="*,auto,auto" class="list-group-item">
                    <Label class="list-group-item-heading" row="0" col="0" [text]="company.name"></Label>
                    <Label class="list-group-item-text" row="1" col="0" [text]="company.email + ' - ' +company.phone"></Label>
                    <Label class="list-group-item-text" row="2" col="0" [text]="company.classification"></Label>
                    <Button class="fa icon" rowSpan="3" col="1" text="&#xf044;" (tap)="edit(company)"></Button>
                    <Button class="fa icon text-danger" rowSpan="3" col="2" text="&#xf1f8;" (tap)="remove(company)"></Button>
                </GridLayout>
            </ng-template>
        </ListView>
        <ScrollView *ngIf="mode=='create'||mode=='update'" row="1" colSpan="2" class="m-t-30">
            <StackLayout>            
                <RadDataForm #myForm [source]="company" [metadata]="companyMetadata"></RadDataForm>
                <button class="btn btn-primary m-x-5" text="Guardar" (tap)="checkErrors()"></button>
                <button class="btn btn-outline m-x-5" text="Cancelar" (tap)="changeMode('retrive')"></button>            
            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>